
.prev_next_btn{

    .prev_btn,.next_btn{
        padding: 4px 8px;
        border: none;
        background: rgb(56, 121, 4);
        border-radius: 3px;
        color: rgb(13, 15, 0);
    }
    .next_btn{
        background: rgb(1, 1, 8);
        color: #fff;
    }
}


@media only screen and (min-width: 200px) and (max-width: 767px){
   .single_page_book_show{
    width: 100%;
    a img{
        width: 180px;
        margin: auto;
        position: relative;
        left: 0 !important;
    }
   } 
   .single_page_book_det{
    text-align: center;
   }
}