
.books_show_card{
   padding: 3px;
   padding: 12px 0px;
    img{
        width: 90%;
        border-radius: 5px;
        padding: 3px 0px;
        margin: 0 auto;
        height: 230px;
    }

    .books_name{
        font-size: 17px;
        // padding: 6px 0px;
        font-weight: 700;
    }
    .writer{
        font-size: 16px;
    }
    .available_status{
        font-size: 15px;
        font-weight: 700;
    }

    .wish_list,.read_now{
        padding: 8px 6px;
        border: none;
        border-radius: 6px;
        font-size: 13px;
        font-weight: 600;
       
    }
    .wish_list{
        background: rgb(236, 110, 88);
       text-decoration: none;
       color: #fff;
       
    }
    
    .read_now{
        background: green;
        margin-top: 5px;
        text-decoration: none;
        color: #fff;
         
    }

   

}

.wish_list:hover{
    background: rgb(114, 32, 18);
    color: #fff;
}
.read_now:hover{
    background: rgb(10, 62, 10);
    color: #fff;
}
.books_show_card:hover{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

// prev and next button here

.prev_and_next_btn{
    .prev_btn,.next_btn{
        padding: 3px 12px;
        border: none;
        text-align: center;
        font-weight: 500;
        border-radius: 2px;
        color: #fff;
    }
    .prev_btn{
        background: rgb(85, 99, 6);
 
    }
    .next_btn{
        background: rgb(122, 109, 10);
       
    }
}

// responsive with media quary

@media only screen and (min-width: 200px) and (max-width: 1024px){
    .books_show_card{
        img{
            width: 140px;
            height: 200px;
        }
    }
}

@media only screen and (min-width: 200px) and (max-width: 850px){
    .books_show_card{
        img{
            width: 200px;
            height: 240px;
        }
    }
}
@media only screen and (min-width: 200px) and (max-width: 767px){
    .books_show_card{
        img{
            width: 180px;
        }
    }
}