
.prev_next_btn,.prev_next_btn_main{

    .prev_btn,.next_btn{
        padding: 4px 8px;
        border: none;
        background: rgb(56, 121, 4);
        border-radius: 3px;
        color: rgb(13, 15, 0);
        margin: 0px 8px;
    }
    .next_btn{
        background: rgb(1, 1, 8);
        color: #fff;
    }
}


@media only screen and (min-width: 200px) and (max-width: 767px){
   .single_page_book_show{
    width: 100%;
    padding: 0px 5px;
    a img{
        width: 130px;
        margin: auto;
        position: relative;
        left: 0 !important;
    }
   } 
   .single_page_book_det{
    text-align: center;
   }

   //    search bar for mobile
   .use_for_mobile{
    .search_bar{
        display: block ;
    }
 }
}