
.display_book_cata_and_more{ 
    margin: 30px 0px 0px 0px;
    text-transform: uppercase;
     
}
.display_book_cata_and_more h2{
 margin: 25px 0px;
}
.display_book_cata_and_more a{
  margin-top: 33px;
  font-size: 18px;
  font-weight: 600;
  color: green;
}
.book_show img{
    width: 168px;
    height: 220px;
     
}
.container.books_show_main {
    width: 96.5%;
    
}

.prev_next_btn_main{
    display: none;
}
 
// @media only screen and (min-width: 200px) and (max-width: 1024px){
//     .book_show img{
//         width: 140px;
//         height: 220px;
//         padding: 0px 4px;
//     }
// }
// @media only screen and (min-width: 200px) and (max-width: 992px){
   
// }
@media only screen and (min-width: 200px) and (max-width: 767px){
 
    .book_show {
        img{
           width: 145px;
           height: 240px;
           margin: 0 auto;
        }
    }
    .prev_next_btn_main{
    display: block;
 }

 .display_book_cata_and_more h2{
     font-size: 18px !important;
   }
}



