.search_bar form input{
    width: 70%;
    background: none;
    outline: none;
    padding: 5px 8px;
    color: #fff;
    border: 1px solid black;
    
}
.search_bar form button{
    padding: 5px 8px;
    background: black;
    color: #fff;
    margin-left: -8px;
    border-radius: 0px 8px 8px 0px;
}
.search_bar p{
    font-size: 14px;
    margin-left: 155px;
    margin-top: 8px;
}


// .............
.find_catagory{
    text-decoration: none;
}
.find_catagory ul{
     list-style: none;
     margin: 25px 0px 0px 10px;
 
}
.find_catagory ul li{
    padding: 5px 0px;
    position: relative;
}
.find_catagory ul li a{
text-decoration: none;
color: black;
font-size: 18px;
font-weight: 400;
letter-spacing: 0.2px;

}
.find_catagory ul li a:hover{
    text-decoration: underline;
    color: blueviolet;
   
}
.find_catagory ul li a::before{
    content: "";
    top: 44%;
    left: -7%;
    width: 6px;
    height: 6px;
    background: rgb(102, 76, 76);
    position: absolute;
}
.more_cata_btn{
     margin: 25px 0px 0px 168px;

}
.more_cata_btn a,.card_style2_right a, .card_style2 a{
    padding: 8px 15px;
    background: black;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
}